name: Aseprite Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  
jobs:
  Windows-Build:
    strategy:
      fail-fast: false
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get Skia URL
        shell: pwsh
        run: |
          Write-Host "Start Request Skia URL"
          $response = Invoke-RestMethod -Uri "https://api.github.com/repos/aseprite/skia/releases/latest" -Method Get
          $url = 'https://github.com/aseprite/skia/releases/download/' + $response.tag_name + '/Skia-Windows-Release-x64.zip'
          Write-Host "Skia URL: $url"
          echo ('SKIA_URL=' + $url) >> $env:GITHUB_ENV
      - name: Download And Unzip Skia
        shell: pwsh
        run: |
          mkdir C:\deps
          Invoke-WebRequest -Uri $env:SKIA_URL -OutFile "C:\deps\skia.zip"
          Expand-Archive -Path "C:\deps\skia.zip" -DestinationPath "C:\deps\skia"
          echo "SKIA_PATH=C:\deps\skia" >> $env:GITHUB_ENV
      - name: Get Cmake Version
        shell: pwsh
        run: |
          Write-Host "Start Request Cmake URL"
          $response = Invoke-RestMethod -Uri "https://api.github.com/repos/Kitware/CMake/releases/latest" -Method Get
          $version = $response.tag_name -replace 'v', ''
          Write-Host "CMAKE Version: $version"
          echo ('CMAKE_VERSION=' + $version) >> $env:GITHUB_ENV
      - name: Download And Unzip Cmake
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri ('https://github.com/Kitware/CMake/releases/download/v' + $env:CMAKE_VERSION + '/cmake-' + $env:CMAKE_VERSION + '-windows-x86_64.zip') -OutFile "C:\deps\cmake.zip"
          Expand-Archive -Path "C:\deps\cmake.zip" -DestinationPath "C:\deps\cmake"
          echo ('CMAKE_PATH=C:\deps\cmake\cmake-' + $env:CMAKE_VERSION + '-windows-x86_64') >> $env:GITHUB_ENV
          echo ('C:\deps\cmake\cmake-' + $env:CMAKE_VERSION + '-windows-x86_64\bin') >> $env:GITHUB_PATH
      - name: Get Ninja URL
        shell: pwsh
        run: |
          Write-Host "Start Request Ninja URL"
          $response = Invoke-RestMethod -Uri "https://api.github.com/repos/ninja-build/ninja/releases/latest" -Method Get
          $url = ($response.assets | Where-Object {$_.name -eq "ninja-win.zip"} ).browser_download_url
          Write-Host "NINJA URL: $url"
          echo "NINJA_URL=$url" >> $env:GITHUB_ENV
      - name: Download And Unzip Ninja
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri $env:NINJA_URL -OutFile "C:\deps\ninja.zip"
          Expand-Archive -Path "C:\deps\ninja.zip" -DestinationPath "$CMAKE_PATH\bin"
      - name: Get Aseprite URL
        shell: pwsh
        run: |
          $response = Invoke-RestMethod -Uri "https://api.github.com/repos/aseprite/aseprite/releases/latest" -Method Get
          $url = $response.assets[0].browser_download_url
          Write-Host "Aseprite URL: $url"
          echo ('ASEPRITE_URL=' + $url) >> $env:GITHUB_ENV
      - name: Download And Unzip Aseprite
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri $env:ASEPRITE_URL -OutFile "C:\deps\aseprite.zip"
          Expand-Archive -Path "C:\deps\aseprite.zip" -DestinationPath "C:\deps\aseprite"
      - name: Add MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - name: Build Aseprite
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=x64
          C:
          cd C:\deps\aseprite
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_IGNORE_PATH=C:\Strawberry\c\bin -DCMAKE_IGNORE_PATH=C:\mingw64\bin -DLAF_BACKEND=skia -DSKIA_DIR=C:\deps\skia -DSKIA_LIBRARY_DIR=C:\deps\skia\out\Release-x64 -DSKIA_LIBRARY=C:\deps\skia\out\Release-x64\skia.lib -G Ninja ..
          ninja aseprite
      # - name: Pack Binary
      #   shell: pwsh
      #   run: |
      #     Compress-Archive -Path "C:\deps\aseprite\build\bin" -DestinationPath "C:\deps\Aseprite-latest.zip"
      - name: Upload Aseprite Build
        uses: actions/upload-artifact@v4
        with:
          name: Aseprite-Latest-Windows-x86_64
          path: C:\deps\aseprite\build\Binary
  macOS-Build:
    strategy:
      fail-fast: false
      matrix:
          build:
              # macOS 通用 构建
              - name: macOS-arm64-build
                os: macos-latest
                arch: arm64
                arch2: arm64
                version: '11.0'
              - name: macOS-x86_64-build
                os: macos-15-intel
                arch: x86_64
                arch2: x64
                version: '10.14'
    runs-on: ${{ matrix.build.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get Skia URL
        shell: bash
        run: |
          SKIA_TAG=$(curl -s https://api.github.com/repos/aseprite/skia/releases/latest | jq -r '.tag_name')
          SKIA_URL=https://github.com/aseprite/skia/releases/download/$SKIA_TAG/Skia-macOS-Release-${{ matrix.build.arch2 }}.zip
          echo "SKIA_URL=${SKIA_URL}" >> $GITHUB_ENV
      - name: Download And Unzip Skia
        shell: bash
        run: |
          mkdir $HOME/deps
          curl -L $SKIA_URL -o $HOME/deps/skia.zip
          mkdir -p $HOME/deps/skia
          unzip -q $HOME/deps/skia.zip -d $HOME/deps/skia
          echo "SKIA_PATH=$HOME/deps/skia" >> $GITHUB_ENV
      - name: Install CMake and Ninja
        shell: bash
        run: |
          brew update
          brew install cmake ninja
      - name: Get Aseprite URL
        shell: bash
        run: |
          ASEPRITE_URL=$(curl -s https://api.github.com/repos/aseprite/aseprite/releases/latest | jq -r '.assets[0].browser_download_url')
          echo "ASEPRITE_URL=${ASEPRITE_URL}" >> $GITHUB_ENV
      - name: Download And Unzip Aseprite
        shell: bash
        run: |
          mkdir -p $HOME/deps/aseprite
          curl -L $ASEPRITE_URL -o $HOME/deps/aseprite.zip
          unzip -q $HOME/deps/aseprite.zip -d $HOME/deps/aseprite
      - name: Build Aseprite
        shell: bash
        run: |
          cd $HOME/deps/aseprite
          mkdir build
          cd build
          cmake \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DCMAKE_OSX_ARCHITECTURE=${{ matrix.build.arch }} \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=${{ matrix.build.version }} \
            -DCMAKE_OSX_SYSROOT=/Applications/Xcode.app/Content/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk \
            -DLAF_BACKEND=skia \
            -DSKIA_DIR=$HOME/deps/skia \
            -DSKIA_LIBRARY_DIR=$HOME/deps/skia/out/Release-${{ matrix.build.arch2 }} \
            -DSKIA_LIBRARY=$HOME/deps/skia/out/Release-${{ matrix.build.arch2 }}/libskia.a \
            -G Ninja \
            ..
          ninja aseprite
      - name: Upload Aseprite Build
        uses: actions/upload-artifact@v4
        with:
          name: Aseprite-Latest-macOS-${{ matrix.build.arch }}
          path: /Users/runner/deps/aseprite/build