name: Aseprite Build

on:
  workflow_dispatch:
    inputs:
      skiaTagName:
        description: Skia 的最新版本 Tag 名 
        required: true
      asepriteTagName:
        description: Aseprite 的最新版本 Tag 名
        required: true
      asepriteVersion:
        description: Aseprite 的最新版本名
        required: true
  # push:
  #   branches: [main]
  
jobs:
  Windows-Build:
    strategy:
      fail-fast: false
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download And Unzip Skia
        shell: pwsh
        run: |
          mkdir C:\deps
          Invoke-WebRequest -Uri https://github.com/aseprite/skia/releases/download/${{ github.event.inputs.skiaTagName }}/Skia-Windows-Release-x64.zip -OutFile "C:\deps\skia.zip"
          Expand-Archive -Path "C:\deps\skia.zip" -DestinationPath "C:\deps\skia"
          echo "SKIA_PATH=C:\deps\skia" >> $env:GITHUB_ENV
      - name: Install CMake and Ninja
        shell: pwsh
        run: |
          choco install cmake --installargs "ADD_CMAKE_TO_PATH=System"
          choco install ninja
          RefreshEnv
      - name: Download And Unzip Aseprite
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri https://github.com/aseprite/aseprite/releases/download/v${{ github.event.inputs.asepriteTagName }}/Aseprite-v${{ github.event.inputs.asepriteVersion }}-Source.zip -OutFile "C:\deps\aseprite.zip"
          Expand-Archive -Path "C:\deps\aseprite.zip" -DestinationPath "C:\deps\aseprite"
      - name: Add MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - name: Build Aseprite
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=x64
          C:
          cd C:\deps\aseprite
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_IGNORE_PATH=C:\Strawberry\c\bin -DCMAKE_IGNORE_PATH=C:\mingw64\bin -DLAF_BACKEND=skia -DSKIA_DIR=C:\deps\skia -DSKIA_LIBRARY_DIR=C:\deps\skia\out\Release-x64 -DSKIA_LIBRARY=C:\deps\skia\out\Release-x64\skia.lib -G Ninja ..
          ninja aseprite
      # - name: Pack Binary
      #   shell: pwsh
      #   run: |
      #     Compress-Archive -Path "C:\deps\aseprite\build\bin" -DestinationPath "C:\deps\Aseprite-latest.zip"
      - name: Upload Aseprite Build
        uses: actions/upload-artifact@v4
        with:
          name: Aseprite-${{ github.event.inputs.asepriteVersion }}-Windows-x86_64
          path: C:\deps\aseprite\build\bin
  macOS-Build:
    strategy:
      fail-fast: false
      matrix:
          build:
              # macOS 通用 构建
              - name: macOS-arm64-build
                os: macos-latest
                arch: arm64
                arch2: arm64
                version: '11.0'
              - name: macOS-x86_64-build
                os: macos-15-intel
                arch: x86_64
                arch2: x64
                version: '10.14'
    runs-on: ${{ matrix.build.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download And Unzip Skia
        shell: bash
        run: |
          mkdir $HOME/deps
          curl -L https://github.com/aseprite/skia/releases/download/${{ github.event.inputs.skiaTagName }}/Skia-macOS-Release-${{ matrix.build.arch2 }}.zip -o $HOME/deps/skia.zip
          mkdir -p $HOME/deps/skia
          unzip -q $HOME/deps/skia.zip -d $HOME/deps/skia
          echo "SKIA_PATH=$HOME/deps/skia" >> $GITHUB_ENV
      - name: Install CMake and Ninja
        shell: bash
        run: |
          brew update
          brew install cmake ninja
      - name: Download And Unzip Aseprite
        shell: bash
        run: |
          mkdir -p $HOME/deps/aseprite
          curl -L https://github.com/aseprite/aseprite/releases/download/v${{ github.event.inputs.asepriteTagName }}/Aseprite-v${{ github.event.inputs.asepriteVersion }}-Source.zip -o $HOME/deps/aseprite.zip
          unzip -q $HOME/deps/aseprite.zip -d $HOME/deps/aseprite
      - name: Build Aseprite
        shell: bash
        run: |
          cd $HOME/deps/aseprite
          mkdir build
          cd build
          cmake \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DCMAKE_OSX_ARCHITECTURE=${{ matrix.build.arch }} \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=${{ matrix.build.version }} \
            -DCMAKE_OSX_SYSROOT=/Applications/Xcode.app/Content/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk \
            -DLAF_BACKEND=skia \
            -DSKIA_DIR=$HOME/deps/skia \
            -DSKIA_LIBRARY_DIR=$HOME/deps/skia/out/Release-${{ matrix.build.arch2 }} \
            -DSKIA_LIBRARY=$HOME/deps/skia/out/Release-${{ matrix.build.arch2 }}/libskia.a \
            -G Ninja \
            ..
          ninja aseprite
      - name: Upload Aseprite Build
        uses: actions/upload-artifact@v4
        with:
          name: Aseprite-${{ github.event.inputs.asepriteVersion }}-macOS-${{ matrix.build.arch }}
          path: /Users/runner/deps/aseprite/build/bin
  Linux-Build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download And Unzip Skia
        shell: bash
        run: |
          mkdir $HOME/deps
          curl -L https://github.com/aseprite/skia/releases/download/${{ github.event.inputs.skiaTagName }}/Skia-Linux-Release-x64.zip -o $HOME/deps/skia.zip
          mkdir -p $HOME/deps/skia
          unzip -q $HOME/deps/skia.zip -d $HOME/deps/skia
          echo "SKIA_PATH=$HOME/deps/skia" >> $GITHUB_ENV
      - name: Install CMake and Ninja
        shell: bash
        run: |
          sudo apt update
          sudo apt upgrade
          sudo apt install -y g++ clang cmake ninja-build libx11-dev libxcursor-dev libxi-dev libxrandr-dev libgl1-mesa-dev libfontconfig1-dev
      - name: Download And Unzip Aseprite
        shell: bash
        run: |
          mkdir -p $HOME/deps/aseprite
          curl -L https://github.com/aseprite/aseprite/releases/download/v${{ github.event.inputs.asepriteTagName }}/Aseprite-v${{ github.event.inputs.asepriteVersion }}-Source.zip -o $HOME/deps/aseprite.zip
          unzip -q $HOME/deps/aseprite.zip -d $HOME/deps/aseprite
      - name: Build Aseprite
        shell: bash
        run: |
          cd $HOME/deps/aseprite
          mkdir build
          cd build
          cmake \
            -DCMAKE_BUILD_TYPE=RelWithDebInfo \
            -DCMAKE_CXX_FLAGS:STRING=-stdlib=libstdc++ \
            -DCMAKE_EXE_LINKER_FLAGS:STRING=-stdlib=libstdc++ \
            -DLAF_BACKEND=skia \
            -DSKIA_DIR=$HOME/deps/skia \
            -DSKIA_LIBRARY_DIR=$HOME/deps/skia/out/Release-x64 \
            -DSKIA_LIBRARY=$HOME/deps/skia/out/Release-x64/libskia.a \
            -G Ninja \
            ..
          ninja aseprite
        env:
          CC: clang
          CXX: clang++
      - name: Upload Aseprite Build
        uses: actions/upload-artifact@v4
        with:
          name: Aseprite-${{ github.event.inputs.asepriteVersion }}-Linux-x86_64
          path: /home/runner/deps/aseprite/build/bin
